  <div data-role="header">
    <h1>Clips</h1>
  </div><!-- /header -->

  <div data-role="content">
    <a href="#/new" data-role="button" id="new_clip">New Clip</a>
    <br/>
    <ul data-role="listview" class="clip_list">
    </ul>
    <br/>
    <a href='#' data-role='button' class="next_clips">next clips</a>
  </div><!-- /content -->
