  <div data-role="header">
    <h1>New Clip</h1>
  </div><!-- /header -->

  <div data-role="content">
    <form id="new-clip" name="clip">
      <div data-role="fieldcontain">
        <label for="url"> url:</label>
        <input type="text" value="<%= url %>" id="url" name="url"/>
      </div>
      <div class="actions">
        <div class="ui-grid-a">
          <div class="ui-block-a"><a href="#/index" data-role='button'>Back</a></div>
          <div class="ui-block-b"><input type="submit" value="Create Clip" data-theme='b'/></div>
        </div>
      </div>
    </form>
  </div><!-- /content -->

