    <form name="clip" class="form-inline">
      <ul class="error_explanation">
      </ul>
      <div class="input-append">
        <input type="text" value="<%= url %>" id="url" name="url" placeholder="http://example.com" class="span5"/>
        <button id="new-clip" class="btn btn-primary">Clip!</button>
      </div>
    </form>
    </div>
    <hr>
