<div class="container row-fluid" id="how_to_use">
  <div class="offset1 span10">
    <div class="page-header">
      <h2>使い方</h2>
    </div>
    <div >
      <h3>Clipするのはとっても簡単！</h3>
      <img class="thumbnail" src="/images/how_to_clip_1.png"/>
    </div>
    <div>
      <h3>例えば…</h3>
      <img class="thumbnail" src="/images/how_to_clip_2.png"/>
    </div>
    <div>
      <h3>こんな感じでサマリをClip!</h3>
      <img class="thumbnail" src="/images/how_to_clip_3.png"/>
    </div>
    <div>
      <a class="btn btn-large btn-block btn-success" href="/">戻る</a>
    </div>
    <div class="visible-desktop">
      <h3>例えばSlideshareのページをClip!</h3>
      <img class="thumbnail" src="/images/how_to_clip_4.png"/>
    </div>
    <div class="visible-desktop">
      <h3>こんな感じでプレビューできます。</h3>
      <img class="thumbnail" src="/images/how_to_clip_5.png"/>
    </div>
    <div class="visible-desktop">
      <h3>Chrome Extensionもあるから、お好きな時にClip！例えばページだったり…</h3>
      <img class="thumbnail" src="/images/chrome_extension_page.png"/>
    </div>
    <div class="visible-desktop">
      <h3>リンクだったり…</h3>
      <img class="thumbnail" src="/images/chrome_extension_link.png"/>
    </div>
    <div class="visible-desktop">
      <h3>画像だったりClip!</h3>
      <img class="thumbnail" src="/images/chrome_extension_image.png"/>
    </div>
    <div >
      <a class="btn btn-large btn-block btn-success" href="/">戻る</a>
    </div>
  </div>
</div>
