  <div class="container">
    <div class="hero-unit">
      <h1>Clipin</h1>
      <h2>シンプルだけど十分なブックマークサービス</h2>
      <a class="btn btn-primary btn-large" href="/auth/facebook">
        facebookでログイン
      </a>
      <a class="btn btn-info btn-large" href="/auth/google_oauth2">
        Google Acountでログイン
      </a>
      </p>
    </div>
  </div>
  <div class="container">
  <% if flash[:success] %>
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <%= flash[:success] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-error fade in">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error fade in">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <%= flash[:error] %>
    </div>
  <% end %>
</div>
  <div class="container">
    <div class="marketing">
      <h1>Introducing Clipin</h1>
      <p class="marketing-byline">Clipinを使うと嬉しい３つの理由</p>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <img src="http://placehold.it/300x200" alt="oneclick!" />
              <div class="caption">
                <h3>ワンクリック</h3>
                <p>後で見たい情報をとりあえずクリップ。クリップした順に時系列で並びます。昔クリップしたサイトでも近々見るのであればもう一度クリップ！</p>
              </div>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="http://placehold.it/300x200" alt="filter" />
              <div class="caption">
                <h3>フィルタ</h3>
                <p>サイトの情報を元にタグづけを行うフィルタを予め設定することで、自動でタグづけをします。タグにより自動で検索しやすくします。</p>
            </div>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="http://placehold.it/300x200" alt="embed" />
              <div class="caption">
                <h3>oEmbedに対応</h3>
                <p>SlideShareやSpeaker Deckなどのスライドサイトや、Vimeoなど、埋め込みに対応したサイトであればクリップしたコンテンツを埋め込みます。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
