<div id="eyecatch">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1><i class="icon-paper-clip"></i>Clipin</h1>
      </div>
      <div class="span7">
        <h3>シンプルだけど十分なブックマークサービス</h3>
        <a class="btn btn-primary btn-large icon-facebook" href="/auth/facebook">
          facebookでログイン
        </a>
        <a class="btn btn-info btn-large icon-google-plus" href="/auth/google_oauth2">
          Googleでログイン
        </a>
        <a class="btn btn-warning btn-large icon-bullhorn" href="/howto">
          Clipinの使い方
        </a>
      </div>
    </div>
  </div>
</div>
  <div class="container">
  <%= render "alert" %>
</div>
<div class="container" id="why">
  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="page-header">
        <h2>Clipinを使う6つの理由</h2>
      </div>
      <div class="row">
        <div class="span4">
          <h3><i class="icon-hand-up icon-large"></i>ワンクリック</h3>
          <p>後で見たい情報をクリップ。クリップした順に並びます。昔クリップしたサイトでも近々見るのであればもう一度クリップ！</p>
        </div>
        <div class="span4">
          <h3><i class="icon-tag icon-large"></i>タグ & <i class="icon-search icon-large"></i>検索</h3>
          <p>自動でタグづけを行い、日付などで検索できます。</p>
        </div>
        <div class="span4">
          <h3><i class="icon-play-circle icon-large"></i>埋め込み</h3>
          <p>YoutubeやSlideshareなど、埋め込みに対応したサイトであればコンテンツを埋め込みます。あなたのための日々のまとめが作成されます。</p>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h3><i class="icon-thumbs-up icon-large"></i>スマホ & タブレット</h3>
          <p>スマホでもタブレットでも見やすいように調整しています。</p>
        </div>
        <div class="span4">
        <h3><i class="icon-key icon-large"></i>プライバシー</h3>
          <p>保存するデータはURLとサイトの要約のみ。アカウント情報もユーザー識別のための情報のみ保存し、名前やメールアドレス保存しません。</p>
        </div>
        <div class="span4">
          <h3><i class="icon-facebook-sign icon-large"></i>ソーシャルボタン</h3>
          <p>facebook等のソーシャルボタンにも対応し、気に入ったらその場でソーシャルストリームに流せます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
