// Place all the styles related to the clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-header .ui-title, .ui-footer .ui-title{
  margin: .6em .8em
}
.ui-li-aside{
  width:60px;
  font-size: 12px;
  font-weight: normal;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: right;
  text-align: right;
}
.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt {
  padding-right: 55px;
}
img.clip_image {
  width:  79px;
  height: 79px;
  position: absolute;
  left: 1px;
  top: 0;
  max-height: 80px;
  max-width: 80px;
}
@media screen and (max-width: 480px) {
  img.clip_image {
    width:  32px;
    height: 32px;
    top:    8px;
    position: absolute;
    left: 1px;
    top: 0;
    max-height: 32px;
    max-width: 32px;
  }
  .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    padding-left: 37px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 40px;
  }
  .ui-li-heading{
    margin: .4em 0;
  }
}
.ui-icon-pin {
    background-image: url("/assets/pin.png");
}
.ui-icon-trash {
    background-image: url("/assets/trash.png");
}
.ui-icon-tags {
    background-image: url("/assets/tags.png");
}
.ui-icon-share {
    background-image: url("/assets/share.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-icon-pin {
      background-image: url("/assets/pin-hd.png");
      background-size: 18px 18px;
  }
  .ui-icon-trash {
      background-image: url("/assets/trash-hd.png");
      background-size: 18px 18px;
  }
  .ui-icon-tags {
      background-image: url("/assets/tags-hd.png");
      background-size: 18px 18px;
  }
  .ui-icon-share {
      background-image: url("/assets/share-hd.png");
      background-size: 18px 18px;
  }
}
.tag {
  padding: 1px 4px 2px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 13px;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tag-red {
  background-color: #ed1c24;
}
.tag-orange {
  background-color: #f7931e;
}
.tag-yellow {
  background-color: #fcee21;
}
.tag-light-green {
  background-color: #8cc63f;
}
.tag-green {
  background-color: #009245;
}
.tag-light-blue {
  background-color: #33ccff;
}
.tag-blue {
  background-color: #0071bc;
}
.tag-purple {
  background-color: #93278f;
}

.list-inline-block li {
  display: inline-block;
  letter-spacing: normal;
  margin: 3px 6px 3px 0;
  vertical-align: top;
  word-spacing: normal;
  zoom: 1;
}

h3.title {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: .6em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height:16px;
}
.clip {
  display: block;
  margin: 0;
  position: relative;
  overflow: visible;
  text-align: left;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  border-color: #E9E9E9;
  a {
    min-height: 60px;
    padding: .7em 30px .7em 100px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover{
       text-decoration: none;
  }
}
}
.description {
  font-size: 12px;
  font-weight: normal;
  display: block;
  margin: -0.5em 0 0.6em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.date-separator{
  border: 1px solid #F2F2F2/*{a-bar-border}*/;
  background: #EEE /*{a-bar-background-color}*/;
  color: #3E3E3E /*{a-bar-color}*/;
  font-weight: bold;
  text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ white /*{a-bar-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from( white /*{a-bar-background-start}*/), to( #F2F2F2 /*{a-bar-background-end}*/));
  background-image: -webkit-linear-gradient( white /*{a-bar-background-start}*/, #F2F2F2 /*{a-bar-background-end}*/);
  background-image: -moz-linear-gradient( white /*{a-bar-background-start}*/, #F2F2F2 /*{a-bar-background-end}*/);
  background-image: -ms-linear-gradient( white /*{a-bar-background-start}*/, #F2F2F2 /*{a-bar-background-end}*/);
  background-image: -o-linear-gradient( white /*{a-bar-background-start}*/, #F2F2F2 /*{a-bar-background-end}*/);
  background-image: linear-gradient( white /*{a-bar-background-start}*/, #F2F2F2 /*{a-bar-background-end}*/);
  padding: 5px 12px;
  margin-top: 4px;
}
