// Place all the styles related to the clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-li-aside{
  width:60px;
}
.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt {
  padding-right: 55px;
}
img.clip_image {
  width: 79px;
  height: 79px;
}
@media screen and (max-width: 480px) {
  img.clip_image {
    display: none;
  }
  .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    padding-left: 5px;
  }
}
.ui-icon-pin {
    background-image: url("/assets/pin.png");
}
.ui-icon-trash {
    background-image: url("/assets/trash.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-icon-pin {
      background-image: url("/assets/pin-hd.png");
      background-size: 18px 18px;
  }
  .ui-icon-trash {
      background-image: url("/assets/trash-hd.png");
      background-size: 18px 18px;
  }
}
