// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height: 100%;
}
body {
  background-image: url(/images/cream_dust.png);
}

#eyecatch {
  background: #eeeeee;
  padding: 70px 0;
  margin: -40px 0 20px;
}

#why .icon-large {
  font-size: 22px;
  text-align: center;
  padding-right: 4px;
}

#wrap {
  min-height: 100%;
  height:auto !important;
  height: 100%;
  margin: 0 auto -201px;
}

#push,
#footer {
  height: 201px;
}

.marketing {
  text-align: center;
  color: #5A5A5A;
  .marketing-byline{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color: #999;
  }
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
  p {
    margin-bottom: 0;
    color: #777;
  }
}
