<% content_for :header do %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a class="brand" href="/"><img src="/clipin_logo.png"/></a></li>
        </ul>
      </div>
    </div>
  </div><!-- /header -->
<% end %>
<% content_for :content do %>
  <%= yield %>
  <%= render "footer" %>
<% end %>
<%= render :file => 'layouts/application' %>
